<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

</head>

<body>
<div class="col-md-3 left_col menu_fixed">

    <div class="left_col scroll-view">
        <br/>
        <div class="navbar nav_title" style="border: 0;">
            <a href="/admin/main" class="site_title">[로고이미지넣을예정]</a>
        </div>

        <div class="clearfix"></div>

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>메뉴</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-desktop"></i> 솔루션 정보 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/solution/list">솔루션 목록</a></li>
                            <li><a href="/admin/solution/add">솔루션 등록</a></li>
                        </ul>
                    </li>

                    <li><a href="/admin/detail/list"><i class="fa fa-cubes"></i> 솔루션 상세 정보 </a>

                    <li><a href="/admin/inq/list"><i class="fa fa-comments-o"></i> 문의페이지 </a>
                    </li>
                    <li><a><i class="fa fa-edit"></i> 후기페이지 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/review/list">후기 정보 목록</a></li>
                            <li><a href="/admin/review/add">후기 등록</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- top navigation -->
<div class="top_nav">
    <div class="nav_menu">
        <div class="nav toggle">
            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
        </div>
        <nav class="nav navbar-nav">
            <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                    <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true"
                       id="navbarDropdown"
                       data-toggle="dropdown" aria-expanded="false">관리자
                    </a>
                    <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
<!--                        <a class="dropdown-item" href="javascript:;"> Profile</a>-->
<!--                        <a class="dropdown-item" href="javascript:;">-->
<!--                            <span class="badge bg-red pull-right">50%</span>-->
<!--                            <span>Settings</span>-->
<!--                        </a>-->
<!--                        <a class="dropdown-item" href="javascript:;">Help</a>-->
                        <a class="dropdown-item" onclick="logout()"><i class="fa fa-sign-out pull-right"></i> 로그아웃</a>
                    </div>
                </li>

                <li role="presentation" class="nav-item dropdown open">
                    <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1"
                       data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-envelope-o"></i>
<!--                        <span class="badge bg-green">6</span> &lt;!&ndash; 메시지 수 &ndash;&gt;-->
                    </a>
<!--                    <ul class="dropdown-menu list-unstyled msg_list" role="menu"-->
<!--                        aria-labelledby="navbarDropdown1">-->
<!--                        <li class="nav-item"> &lt;!&ndash; 여기에 메시지 반복 내용 넣기 - li 반복 &ndash;&gt;-->
<!--                            <a class="dropdown-item">-->
<!--                                <span class="image"><img src="images/img.jpg" alt="Profile Image"/></span>-->
<!--                                <span>-->
<!--                            <span>John Smith</span>-->
<!--                            <span class="time">3 mins ago</span>-->
<!--                          </span>-->
<!--                                <span class="message">-->
<!--                            Film festivals used to be do-or-die moments for movie makers. They were where...-->
<!--                          </span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                    </ul>-->
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>