
<div class="x_panel">
    <div class="x_content">

        <!-- start form for validation -->
        <form id="demo-form" data-parsley-validate>
            <label for="name_kor">패키지 이름 :</label>
            <input type="text" id="name_kor" class="form-control" name="name_kor" required />
            <br>
            <label for="type_kor">패키지 타입 :</label>
            <input type="text" id="type_kor" class="form-control" name="type_kor" required />
            <br>

            <label for="name_eng">영문 패키지 이름 :</label>
            <input type="text" id="name_eng" class="form-control" name="name_eng" required />
            <br>
            <label for="type_eng">영문 패키지 타입 :</label>
            <input type="text" id="type_eng" class="form-control" name="type_eng" required />
            <br>

            <label for="googleLink">구글 스토어 링크 :</label>
            <input type="text" id="googleLink" class="form-control" name="googleLink" required />
            <br>
            <label for="appleLink">애플 앱스토어 링크 :</label>
            <input type="text" id="appleLink" class="form-control" name="appleLink" required />
            <br>
            <label for="mainNum">메인 페이지 솔루션 순서 :</label>
            <input type="text" id="mainNum" class="form-control" name="mainNum" required />
            <br>

            <label>노출여부 *:</label>
            <p>
                비노출 :
                <input type="radio" class="flat" name="showNum" id="show0" value="0" checked="" required />
                <br>
                노출 :
                <input type="radio" class="flat" name="showNum" id="show1" value="1" />
            </p>

            <br />

            <div class="ln_solid">
                <div class="form-group">
                    <div class="col-md-6 offset-md-3">
                        <button type='submit' class="btn btn-primary">Submit</button>
                        <button type='reset' class="btn btn-success">Reset</button>
                    </div>
                </div>
            </div>

        </form>
        <!-- end form for validations -->

    </div>
</div>