<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Con_view</title>
    <link rel="stylesheet" href="/promotion/css/conview/conview.css">
</head>
<body>
<div th:insert="/promotion/nav/navbar1.html"></div>
<div class="mbox">
    <div class="maintext">INQUIRY</div>
</div>

<div class="mbox">
    <span th:text="${pjnum}" id="pjnum" hidden ></span>
    <div class="t1">* Items are required</div>
    <div class="t2">
        <div style="text-align:left;">Inquiry type*</div>
        <div>
            <label for="chk">
                <input name="typechoice" type="radio" id="chk" value="구매 문의">
                <span class="text">Purchase inquiry</span>
            </label>
        </div>
        <div>
            <label for="chk1">
                <input name="typechoice" type="radio" id="chk1" value="제품 문의">
                <span class="text">Product inquiry</span>
            </label>
        </div>
        <div>
            <label for="chk2">
                <input name="typechoice" type="radio" id="chk2" value="기타">
                <span class="text">Etc</span>
            </label>
        </div>
    </div>
    <div class="t2">
        <div style="text-align:left;">Customer information</div>
        <div>
            <label>
                <i>Customer name*</i>
                <input id="username" class="inputbox" type="text">
            </label>
            <label>
                <i>Contact*</i>
                <input id="userphone" class="inputbox" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
            </label>
            <label>
                <i>Email*</i>
                <input id="useremail" class="inputbox" type="text">
            </label>
            <br>
            <label>
                <i>Company/Institution*</i>
                <input id="company" class="inputbox" type="text">
            </label>
            <label>
                <i>Department</i>
                <input id="department" class="inputbox" type="text">
            </label>
            <label>
                <i>Rank</i>
                <input id="rank" class="inputbox" type="text">
            </label>
        </div>
    </div>
    <div class="t2">
        <div style="text-align:left;">By industry*</div>
        <div>
            <label for="chk4">
                <input name="typechoice1" type="radio" id="chk4" value="공공기관">
                <span class="text">Public institutions</span>
            </label>
        </div>
        <div>
            <label for="chk5">
                <input name="typechoice1" type="radio" id="chk5" value="일반기업">
                <span class="text">General company</span>
            </label>
        </div>
        <div>
            <label for="chk6">
                <input name="typechoice1" type="radio" id="chk6" value="관광지">
                <span class="text">Tourist destination</span>
            </label>
        </div>
        <div>
            <label for="chk7">
                <input name="typechoice1" type="radio" id="chk7" value="박물관/전시관">
                <span class="text">Museum/Exhibition Hall</span>
            </label>
        </div>
        <div>
            <label for="chk8">
                <input name="typechoice1" type="radio" id="chk8" value="IT 개발">
                <span class="text">IT Development</span>
            </label>
        </div>
        <div>
            <label for="chk9">
                <input name="typechoice1" type="radio" id="chk9" value="개발">
                <span class="text">Etc</span>
            </label>
        </div>
    </div>
    <div class="t2">
        <div style="text-align:left;">Title*</div>
        <input id="conname" type="text" maxlength="50">
    </div>
    <div class="t2">
        <div style="text-align:left;">Content of inquiry*</div>
        <textarea id="context" maxlength="1000"></textarea>
    </div>
    <div class="t2">
        <div style="text-align:left;">File selection</div>
        <input type="file">
        <label for="chk10">
            <input type="checkbox" id="chk10">
            <span class="text">I agree to the Privacy Policy.</span>
        </label>
        <span>(View Terms)</span>
    </div>
    <div>
        <button onclick="delCon()">Cancel</button>
        <button onclick="ininq()">Registration</button>
    </div>
</div>

<script src="/promotion/js/af_inq/af_inq_in.js"></script>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>