<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/nav/nav.css">
</head>
<body>
<div class="hide">
    <div class="hide1">
        <img src="img/logo.jpg" style="float:left;">
    </div>
    <div class="hide2">
        <div class="navt">AR</div>
        <div class="navt">AI</div>
        <div class="navt">GAME</div>
        <div class="navt">SPORTS</div>
        <div class="navt">ANIMAL</div>
        <div class="navt">
            <select>
                <option>KOR</option>
                <option>ENG</option>
            </select>
        </div>
    </div>
</div>
</body>
</html>