<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AR Factory</title>
    <link rel="stylesheet" href="/promotion/css/main.css">
    <link rel="stylesheet" href="/promotion/css/test.css">

    <!--google material icon 사용
    class="material-icons"-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- main.css 연결 -->
    <link rel="stylesheet" href="/promotion/css/main.css">
    <!-- main.js 연결 -->
    <script defer src="/promotion/js/main/slide.js"></script>

</head>
<body>
<div th:insert="/promotion/nav/navbar.html"></div>
<div class="mainbox" th:each="Co : ${view}">
    <div class="subbox1">
        <div class="swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">Slide 1</div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="reviewbox">
            <div>
                <span id="api1_name"></span>
            </div>
            <div>
                <span id="api1_type"></span>
            </div>
            <div><button th:onclick="|javascript:af_review(${Co.get('seq')})|">후기작성</button></div>
            <div>
                <span th:text="'후기 ☆ '+ ${Co.get('avg')+' 점'}" id="ar_star_t"></span>
                <span th:text="'( '+${Co.get('size')+' )'}"></span>
            </div>
            <div th:each="Co1 : ${Co.get('viewre')}">
                <span th:text="${Co1.AR_NAME}" id="ar_name"></span>
                <span th:text="${Co1.AR_STAR}" id="ar_star"></span>
                <span th:text="${Co1.AR_CONTENT}" id="ar_content"></span>
            </div>
        </div>
    </div>
    <div class="subbox2">
        <div class="sub1">
            <div class="sub1nav">
                <div class="navbox" th:onclick="|javascript:viewcon(1,${Co.get('seq')})|">콘텐츠 소개</div>
                <div class="navbox" th:onclick="|javascript:viewcon(2,${Co.get('seq')})|">상세정보</div>
                <div class="navbox" th:onclick="|javascript:viewcon(3,${Co.get('seq')})|">활용사례</div>
                <div class="navbox" th:onclick="|javascript:viewcon(4,${Co.get('seq')})|">구입방식</div>
            </div>
            <div class="databox" id="databox1">
                <span>콘텐츠 소개</span>
                <div id="api2_con" th:text="${Co.get('data')}">
                </div>
            </div>
            <div class="databox" id="databox2" style="display:none;">
                <span>상세정보</span>
                <div>
                    <span>권장인원</span>
                    <div id="api3_con1"></div>
                </div>
                <div>
                    <span>플레이방법</span>
                    <div id="api3_con2"></div>
                </div>
            </div>
            <div class="databox" id="databox3" style="display:none;">
                <span>활용사례</span>
                <div>
                    <div id="api4_con1"></div>
                </div>
                <div>
                    <div id="api4_con2"></div>
                </div>
                <div>
                    <div id="api4_con3"></div>
                </div>
                <div>
                    <div id="api4_con4"></div>
                </div>
            </div>
            <div class="databox" id="databox4" style="display:none;">
                <span>구입방식</span>
                <div>
                    <span>기간임대</span>
                    <div id="api5_con1"></div>
                </div>
                <div>
                    <span>이용횟수</span>
                    <div id="api5_con2"></div>
                </div>
                <div>
                    <span>계정할당</span>
                    <div id="api5_con3"></div>
                </div>
            </div>
            <div>
                <button th:onclick="|javascript:af_inq(${Co.get('seq')})|">구입문의</button>
            </div>
        </div>
    </div>
    <span th:text="${Co.get('seq')}" id="pjnum" hidden ></span>
</div>

<link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/promotion/js/main/main.js"></script>
</body>
</html>