<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AR Factory</title>
    <link rel="stylesheet" href="/promotion/css/main.css">
    <link rel="stylesheet" href="/promotion/css/test.css">

</head>
<body>
<div th:insert="/promotion/nav/navbar.html"></div>
<span value="0" id="pjnum" hidden ></span>
<div class="mainbox">
    <div class="subbox1">
        <div class="reviewcon" id="container">
            <div class="slide_wrap">
                <div class="slide_box">
                    <div class="slide_list clearfix">
                        <div class="slide_content slide01">
                            <p>1</p>
                        </div>
                        <div class="slide_content slide02">
                            <p>2</p>
                        </div>
                        <div class="slide_content slide03">
                            <p>3</p>
                        </div>
                    </div>
                    <!-- // .slide_list -->
                </div>
                <ul class="slide_pagination"></ul>

                <!-- // .slide_box -->
                <div class="slide_btn_box" hidden>
                    <button type="button" class="slide_btn_prev">Prev</button>
                    <button type="button" class="slide_btn_next">Next</button>
                </div>
                <!-- // .slide_btn_box -->

                <!-- // .slide_pagination -->
            </div>
            <!-- // .slide_wrap -->
        </div>
        <div class="reviewbox"></div>
    </div>
    <div class="subbox2">
        <div class="sub1">
            <div class="sub1nav">
                <div class="navbox" onclick="viewcon(1)">콘텐츠 소개</div>
                <div class="navbox" onclick="viewcon(2)">상세정보</div>
                <div class="navbox" onclick="viewcon(3)">활용사례</div>
                <div class="navbox" onclick="viewcon(4)">구입방식</div>
            </div>
            <div class="databox" id="databox1">
                <span>콘텐츠 소개</span>
                <div th:text="${data.get().getAPI2_CONTENTS()}" id="api2_con">

                </div>
            </div>
            <div class="databox" id="databox2" style="display:none;">
                <span>상세정보</span>
                <div>
                    <span>권장인원</span>
                    <div id="api3_con1"></div>
                </div>
                <div>
                    <span>플레이방법</span>
                    <div id="api3_con2"></div>
                </div>
            </div>
            <div class="databox" id="databox3" style="display:none;">
                <span>활용사례</span>
                <div>
                    <div id="api4_con1"></div>
                </div>
                <div>
                    <div id="api4_con2"></div>
                </div>
                <div>
                    <div id="api4_con3"></div>
                </div>
                <div>
                    <div id="api4_con4"></div>
                </div>
            </div>
            <div class="databox" id="databox4" style="display:none;">
                <span>구입방식</span>
                <div>
                    <span>기간임대</span>
                    <div id="api5_con1"></div>
                </div>
                <div>
                    <span>이용횟수</span>
                    <div id="api5_con2"></div>
                </div>
                <div>
                    <span>계정할당</span>
                    <div id="api5_con3"></div>
                </div>
            </div>
            <div>
                <button onclick="af_inq()">구입문의</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-latest.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/promotion/js/main/test.js/"></script>
<script src="/promotion/js/main/main.js"></script>
</body>
</html>